<h1>Fruit Basket</h1>
<span class="data">raw data: <%= @fruits %></span>
<br />
<%= link_to "Order by Name - #{order_indicator(@order)}", basket_case_index_path(order: toggle_order_direction(@order), sort: BasketCaseController::NAME), class: "button"%>
<%= link_to "Order by Amount - #{order_indicator(@order)}", basket_case_index_path(order: toggle_order_direction(@order), sort: BasketCaseController::AMOUNT), class: "button"%>

<div class="container">
<%- @list_items.each do |fruit, amount| %>
  <p><%= fruit %> : <%= amount %></p>
<% end %>
</div>